Import Monitoring/Service References/ServiceReference/Import.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfImportStaging">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImportStaging" nillable="true" type="tns:ImportStaging" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImportStaging" nillable="true" type="tns:ArrayOfImportStaging" />
  <xs:complexType name="ImportStaging">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="AxId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommonKey" type="xs:long" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Log" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Module" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Status" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportStaging" nillable="true" type="tns:ImportStaging" />
</xs:schema>