Import Monitoring/Service References/ServiceReference/ImportService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetHttpsBinding_IImport_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetHttpBinding_IImport_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.100.1:8010/Import?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.100.1:8010/Import?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.100.1:8010/Import?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImport_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IImport_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="IImport_getData_InputMessage">
    <wsdl:part name="parameters" element="tns:getData" />
  </wsdl:message>
  <wsdl:message name="IImport_getData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDataResponse" />
  </wsdl:message>
  <wsdl:message name="IImport_getAllData_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllData" />
  </wsdl:message>
  <wsdl:message name="IImport_getAllData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllDataResponse" />
  </wsdl:message>
  <wsdl:message name="IImport_setStatusbyCommonKey_InputMessage">
    <wsdl:part name="parameters" element="tns:setStatusbyCommonKey" />
  </wsdl:message>
  <wsdl:message name="IImport_setStatusbyCommonKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:setStatusbyCommonKeyResponse" />
  </wsdl:message>
  <wsdl:portType name="IImport">
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IImport/Test" message="tns:IImport_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImport/TestResponse" message="tns:IImport_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getData">
      <wsdl:input wsaw:Action="http://tempuri.org/IImport/getData" message="tns:IImport_getData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImport/getDataResponse" message="tns:IImport_getData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllData">
      <wsdl:input wsaw:Action="http://tempuri.org/IImport/getAllData" message="tns:IImport_getAllData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImport/getAllDataResponse" message="tns:IImport_getAllData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setStatusbyCommonKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IImport/setStatusbyCommonKey" message="tns:IImport_setStatusbyCommonKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImport/setStatusbyCommonKeyResponse" message="tns:IImport_setStatusbyCommonKey_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetHttpsBinding_IImport" type="tns:IImport">
    <wsp:PolicyReference URI="#NetHttpsBinding_IImport_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/IImport/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <soap12:operation soapAction="http://tempuri.org/IImport/getData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllData">
      <soap12:operation soapAction="http://tempuri.org/IImport/getAllData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setStatusbyCommonKey">
      <soap12:operation soapAction="http://tempuri.org/IImport/setStatusbyCommonKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetHttpBinding_IImport" type="tns:IImport">
    <wsp:PolicyReference URI="#NetHttpBinding_IImport_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/IImport/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <soap12:operation soapAction="http://tempuri.org/IImport/getData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllData">
      <soap12:operation soapAction="http://tempuri.org/IImport/getAllData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setStatusbyCommonKey">
      <soap12:operation soapAction="http://tempuri.org/IImport/setStatusbyCommonKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImportService">
    <wsdl:port name="NetHttpsBinding_IImport" binding="tns:NetHttpsBinding_IImport">
      <soap12:address location="https://192.168.100.1:44399/Import" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://192.168.100.1:44399/Import</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>bs_dnpi-HP\bs_dnpi</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetHttpBinding_IImport" binding="tns:NetHttpBinding_IImport">
      <soap12:address location="http://192.168.100.1:8010/Import" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.100.1:8010/Import</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>